04_n8n/workflow/news-summary.n8n.json
{
  "name": "PB 뉴스 요약 자동화",
  "active": false,
  "nodes": [
    {
      "id": "b539bdd6-897a-40e4-a61e-40c625176458",
      "name": "스케줄 트리거 (매일 09:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -220,
        320
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "notes": "매일 09:00 Asia/Seoul. 자가 재트리거 없음 → 무한 루프 차단."
    },
    {
      "id": "216a4629-4969-4904-90c8-ada6abd25ce5",
      "name": "RSS 수집 (TechCrunch)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        0,
        320
      ],
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notes": "일시 실패 시 최대 2회 재시도(총 3회)."
    },
    {
      "id": "4dc9eb6b-73f8-4962-a1fc-146c5d324aaa",
      "name": "주제 필터",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        320
      ],
      "parameters": {
        "jsCode": "// [주제 필터] AI 키워드로 거른 뒤 최신 1건만 선택\nconst KEYWORDS = ['ai','artificial intelligence','machine learning','deep learning','llm','gpt','openai','anthropic','gemini','copilot','neural','generative','인공지능','생성형','머신러닝','딥러닝'];\nconst TAG_RULES = [\n  { tag: '생성형AI', kw: ['generative','생성형'] },\n  { tag: 'LLM', kw: ['llm','gpt','language model'] },\n  { tag: '머신러닝', kw: ['machine learning','머신러닝'] },\n  { tag: '딥러닝', kw: ['deep learning','neural','딥러닝'] },\n  { tag: '반도체', kw: ['chip','gpu','semiconductor','nvidia','반도체'] },\n  { tag: '로봇', kw: ['robot','로봇'] },\n  { tag: 'AI', kw: ['ai','artificial intelligence','인공지능'] }\n];\nconst items = $input.all();\nconst matched = [];\nfor (const it of items) {\n  const j = it.json;\n  const title = (j.title || '').toString();\n  const rawContent = (j['content:encoded'] || j.content || j.contentSnippet || j.description || '').toString();\n  const cleanContent = rawContent.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 4000);\n  const hay = (title + ' ' + cleanContent).toLowerCase();\n  if (!KEYWORDS.some(function (k) { return hay.indexOf(k) !== -1; })) { continue; }\n  const tags = TAG_RULES.filter(function (r) { return r.kw.some(function (k) { return hay.indexOf(k) !== -1; }); }).map(function (r) { return r.tag; });\n  const link = (j.link || j.guid || '').toString().split('?')[0];\n  const isoDate = j.isoDate || j.pubDate || null;\n  const promptUser = '제목: ' + title + '\\n\\n본문: ' + cleanContent;\n  matched.push({ title: title, link: link, isoDate: isoDate, source: 'TechCrunch', tags: tags.length ? tags : ['AI'], promptUser: promptUser });\n}\nmatched.sort(function (a, b) { return new Date(b.isoDate || 0) - new Date(a.isoDate || 0); });\nif (matched.length === 0) { return [{ json: { found: false } }]; }\nreturn [{ json: Object.assign({ found: true }, matched[0]) }];"
      },
      "notes": "AI 키워드 필터 + 최신 1건 선택. 0건이면 found:false."
    },
    {
      "id": "30364c5c-6827-4e2d-90e4-a86b57390267",
      "name": "뉴스 있음?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        320
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "89e6daa4-1652-4019-9c9c-e213ccbe22b0",
              "leftValue": "={{ $json.found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "notes": "true=뉴스 있음 / false=오늘 해당 뉴스 없음."
    },
    {
      "id": "c0f18590-8396-43ca-a0d6-da3fdeb33158",
      "name": "알림: 뉴스 없음",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        660,
        480
      ],
      "parameters": {},
      "notes": "수집/필터 0건은 정상 종료. Slack/Email 노드로 교체 가능."
    },
    {
      "id": "89dac6fa-f9b4-44b5-a08a-6326b3dd8bef",
      "name": "Notion 중복 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/99f64246-aa35-4575-abd7-73c223bb2fce/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"filter\": { \"property\": \"원문 링크\", \"url\": { \"equals\": $('주제 필터').item.json.link } }, \"page_size\": 1 } }}",
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "notes": "원문 링크로 기존 페이지 조회 → 중복 판단(요약 호출 前 비용 차단)."
    },
    {
      "id": "623ff67e-b798-4668-a7d6-89e505dc0c24",
      "name": "신규 기사?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f33c791f-02dd-4a1c-b2dd-71883e0b955f",
              "leftValue": "={{ $json.results ? $json.results.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "notes": "results==0 → 신규(true) / 그 외 → 중복(false)."
    },
    {
      "id": "1e766ef0-f5dd-45fd-96ac-84a582e62436",
      "name": "중복: 스킵",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        380
      ],
      "parameters": {},
      "notes": "이미 저장된 기사 → 저장/요약 생략(멱등성)."
    },
    {
      "id": "11f58a2b-845c-4340-b780-7c7f36bd0a26",
      "name": "OpenAI 요약",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"gpt-4o-mini\", \"temperature\": 0.3, \"max_tokens\": 300, \"messages\": [ { \"role\": \"system\", \"content\": \"당신은 IT/기술 뉴스 요약 전문가입니다. 주어진 기사를 한국어로 3줄 이내, 각 줄을 하이픈(-)으로 시작하는 불릿으로 요약하세요. 그리고 마지막 줄에 sentiment: 긍정|중립|부정 중 하나로 기사 논조의 감성을 표기하세요. 과장이나 추측 없이 사실만 담습니다.\" }, { \"role\": \"user\", \"content\": $('주제 필터').item.json.promptUser } ] } }}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notes": "기사 1건당 1회 호출(재시도 제외). gpt-4o-mini, 3줄 + 감성."
    },
    {
      "id": "d0f007c5-62df-4126-adff-803f7ae38004",
      "name": "요약 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        120
      ],
      "parameters": {
        "jsCode": "// [요약 파싱] OpenAI 응답에서 3줄 요약과 감성 태그 추출\nconst res = $input.first().json;\nconst content = (res.choices && res.choices[0] && res.choices[0].message && res.choices[0].message.content) || '';\nlet sentiment = '중립';\nconst m = content.match(/sentiment\\s*[:：]\\s*(긍정|부정|중립)/i);\nif (m) { sentiment = m[1]; }\nconst lines = content.split('\\n').map(function (l) { return l.trim(); }).filter(function (l) { return l.indexOf('-') === 0; });\nlet summary = lines.slice(0, 3).join('\\n');\nif (!summary) { summary = content.replace(/sentiment\\s*[:：].*$/im, '').trim(); }\nreturn [{ json: { summary: summary, sentiment: sentiment } }];"
      },
      "notes": "응답에서 3줄 요약/감성 분리."
    },
    {
      "id": "ac599d5d-5c4b-4273-8c9b-0e56cebc3ec0",
      "name": "Notion 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"parent\": { \"database_id\": \"99f64246-aa35-4575-abd7-73c223bb2fce\" }, \"properties\": { \"제목\": { \"title\": [ { \"text\": { \"content\": $('주제 필터').item.json.title } } ] }, \"요약\": { \"rich_text\": [ { \"text\": { \"content\": $('요약 파싱').item.json.summary } } ] }, \"원문 링크\": { \"url\": $('주제 필터').item.json.link }, \"발행일시\": { \"date\": { \"start\": $('주제 필터').item.json.isoDate } }, \"출처\": { \"rich_text\": [ { \"text\": { \"content\": $('주제 필터').item.json.source } } ] }, \"주제 태그\": { \"multi_select\": ($('주제 필터').item.json.tags || []).map(function (t) { return { \"name\": t }; }) }, \"감성\": { \"select\": { \"name\": $('요약 파싱').item.json.sentiment } }, \"상태\": { \"select\": { \"name\": \"저장됨\" } } } } }}",
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notes": "제목/요약/원문 링크/발행일시 + 태그/감성/상태 매핑 저장."
    },
    {
      "id": "39d843a8-667e-42c2-8620-d2e8d627104b",
      "name": "완료",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1760,
        120
      ],
      "parameters": {},
      "notes": "정상 종료 지점."
    },
    {
      "id": "c66d5591-2c90-450f-9bc8-9c9f76742b06",
      "name": "에러 트리거",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        220,
        600
      ],
      "parameters": {},
      "notes": "워크플로우 설정의 Error Workflow를 본 워크플로우로 지정하면 실패 시 발화."
    },
    {
      "id": "a53997e4-4074-4334-ae2c-da2b12a64b2a",
      "name": "알림: 처리 실패",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        600
      ],
      "parameters": {},
      "notes": "재시도 후에도 실패한 실행을 운영자에게 알림. Slack/Email로 교체."
    }
  ],
  "connections": {
    "스케줄 트리거 (매일 09:00)": {
      "main": [
        [
          {
            "node": "RSS 수집 (TechCrunch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 수집 (TechCrunch)": {
      "main": [
        [
          {
            "node": "주제 필터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "주제 필터": {
      "main": [
        [
          {
            "node": "뉴스 있음?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "뉴스 있음?": {
      "main": [
        [
          {
            "node": "Notion 중복 조회",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "알림: 뉴스 없음",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion 중복 조회": {
      "main": [
        [
          {
            "node": "신규 기사?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "신규 기사?": {
      "main": [
        [
          {
            "node": "OpenAI 요약",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "중복: 스킵",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 요약": {
      "main": [
        [
          {
            "node": "요약 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "요약 파싱": {
      "main": [
        [
          {
            "node": "Notion 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion 저장": {
      "main": [
        [
          {
            "node": "완료",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "에러 트리거": {
      "main": [
        [
          {
            "node": "알림: 처리 실패",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}